#for-teachers-page {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    min-height: calc(100vh / 2);

}

#for-teachers-page h1 {
    text-align: center;
    width: auto;
    color: green;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    padding-top: 20px;
}

#for-teachers-page h1 > span {
    color: black;
}