#activity-page {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
    min-height: calc(100vh / 2);
}

#activity-page h1 {
    text-align: center;
    width: auto;
    color: green;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    /* border-top: solid 1px black; */
    padding-top: 20px;
}

.activity-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    place-self: center;
    min-width: 300px;
    max-width: 1000px;
}

#solar-assembly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

#solar-assembly img {
    width: 25%;
    object-fit: contain;
    min-width: 200px;
    max-width: 200px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#solar-assembly img:hover {
    border-radius: 10px;
}

.activity-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
    min-width: 200px;
}

.activity-text h2 {
    color: black;
}