#launch-page {
    position: relative;
    width: 100vw;
    height: auto;
}

#mission-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.section-header {
    color: green;
    font-size: clamp(2rem, 2vw + 2rem, 3rem);
    /* text-shadow: green 2px 2px 1px, black 2px 2px 2px; */
    background-color: rgba(50,205,50, 0.2);
    padding: 10px 20px;
}

#mission-section h1 {
    width: 90%;
    place-self: center;
}

#mission-section p {
    width: 90%;
    place-self: center;
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

#mission-section h2 {
    width: 90%;
    place-self: center;
}

#image-container {
    display: flex;
    position: relative;
    width: 90%;
    height: 550px;
    overflow: hidden;
    place-self: center;
    border-radius: 10px;
    box-shadow: black 0px 4px 10px;
}

#image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

/* Initial clipping regions */
#image-container img.clip-0 {
    clip-path: inset(0 75% 0 0); /* Leftmost 25% */
}
#image-container img.clip-1 {
    clip-path: inset(0 50% 0 25%); /* Middle-left 25% */
}
#image-container img.clip-2 {
    clip-path: inset(0 25% 0 50%); /* Middle-right 25% */
}
#image-container img.clip-3 {
    clip-path: inset(0 0 0 75%); /* Rightmost 25% */
}

/* When hovered */
#image-container img.visible {
    clip-path: inset(0 0 0 0);
    z-index: 1; /* Bring the hovered image to the front */
}

#image-container img.hidden {
    opacity: 0;
}

/* Hover zones positioned side-by-side */
.hover-zone {
    position: relative;
    flex: 1 0 25%; /* Each zone takes up 25% of the container width */
    height: 100%;
    z-index: 2;
    
}

.hover-zone h2 {
    position: absolute;
    bottom: 0;
    padding-left: 5px;
    color: white;
    padding-left: 5%;
    backdrop-filter: blur(5px);
    /* background-color: rgba(0, 255, 81, 0.5); */
    background-color: rgba(255, 215, 0, 0.5);
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0 0;
    text-shadow: black 0px 0px 10px;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
}


#engagement-section {
    display: flex;
    flex-direction: column;
    place-self: center;
    width: 90%;
}

#three-d-container {
    display: flex;
    flex-wrap: wrap;
    place-self: center; 
    justify-content: center;
    min-height: 650px;
}

.disappear {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.appear {
    opacity: 1;
    transition: all 1s ease-out;
}

#testimonial-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Keep the container in a single row */
    gap: 50px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    width: 600px; 
    height: auto;
    margin: 10px;
}

#testimonial-text {
    display: block; 
    white-space: normal;
    word-wrap: break-word; 
    width: 600px;
}

#testimonial-section > h1 {
    width: 90%;
    place-self: center;
}
