#navigation {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 5px 5%;
    box-shadow: black 0px 4px 10px;
    backdrop-filter: blur(5px);
}

#navigation img {
    height: 50px;
    width: 50px;
}

#navigation_links {
    display: flex;
    gap: 20px;
}

#navigation_links button {
    background: #2E9D1D;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1.2rem;
    box-shadow: black 0px 4px 10px;
}

#navigation_links button:hover {
    background: #39c524;
}

#navigation_links button a {
    text-decoration: none;
    color: white;
}


