#about-us-page {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
}

#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}

#banner-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    box-shadow: black 0px 4px 10px;
}

#banner-gif {
    position: absolute;
    top: 50px;
    left: 55%;
    /* transform: translate(-50%, 0); */
    margin: 0 auto;
    /* width: 50%;
    min-width: 300px;
    max-width: 500px; */
    width: 600px;
    filter: drop-shadow(0 0 10px yellow);
}

#banner-text {
    position: absolute;
    top: 100px;
    left: 5%;
    /* transform: translate(-50%, 0); */
    z-index: 0;
    width: 60%;
    min-width: 250px;
    max-width: 700px;
    min-height: 500px;
    height: fit-content;
    text-shadow: 0 0 10px black;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: black 5px 5px 10px;
    color: gold;
}

#banner h1, #banner p {
    width: fit-content;
    margin: 0 auto;
    color: white;
    padding: 20px 50px;
}

#banner h1 {
    font-size: clamp(1.5rem, 1vw + 2rem, 2rem);
}

#banner p {
    text-align: left;
    font-size: clamp(0.8rem, 1vw + 0.8rem, 1.5rem);
    text-indent: 50px;
    line-height: clamp(1rem, 2vw + 1rem, 2rem);
}

@media screen and (max-width: 815px) {
    #banner-text {
        width: 90%;
    } 
    
    #banner h1, #banner p {
        padding: 20px 20px;
    }
}

/* #banner h1 {    
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    text-align: center;
}

#banner h2 {
    text-align: center;
    padding-top: calc(100vh - 200px);
} */

#content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    gap: 100px;
    margin-top: 100px;
}

#mission {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 20px;
    place-self: center;
    background-color:  rgba(50,205,50, 0.2);
    padding: 0 0 20px 0;
    border-radius: 10px;

}

#mission h1, #mission-statement {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

#mission h1 {
    text-align: center;
    margin: 0 auto;
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    padding: 20px 0;
}

#mission-statement {
    text-align: left;
    display: flex;
    place-items: left;
    width: inherit;
    margin: inherit;
    border-left: 1px solid gray;
    border-radius: 10px;
}

#mission-statement h2 {
    padding: 0 20px;
}

#mission-statement .green {
    color: green;
    font-size: 2rem;
}

#mission-statement .meaning {
    color: gray;
}

.about-us-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 50px;
}

.section-title {
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    color: green;
}

.about-us-content img {
    width: 45%;
    object-fit: contain;
    min-width: 300px;
    max-width: 500px;
}

.about-us-section-text {
    width: 45%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

#why-it-matters,
#team {
    background-color: rgba(50,205,50, 0.2);
    padding-bottom: 50px;
}

#team > h3 {
    width: 90%;
    place-self: center;
    text-align: center;
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
    width: 90%;
    place-self: center;
}

#team-container h2 {
    color: green;
}

#team-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: green 4px 4px 10px, gold -4px -4px 10px;
    width: 300px;
    height: auto;
}

#team-container img {
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s;
    height: 300px;
}

#team-container img:hover {
    border-radius: 0;
}